<!doctype html>
<html lang="en">
    <head>
		    <meta charset="utf-8" />
        <link href="/rolex2/assets/main.css" rel="stylesheet" />
        <link href="/rolex2/assets/nav.css" rel="stylesheet" />
        <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}{{ title }}{% endblock %}</title>

        <!-- htmx from the unpkg CDN - your mileage may vary -->
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>

        <!-- Allow any inheriting page to extend head with additional assets -->
        {% block head %}{% endblock %}
    </head>
    <body class="mt-55">
      <navheader>
        <nav>
            <a href="/rolex2/log_explorer_app">Log Explorer</a>
            <a href="/rolex2/night_plan">Night Plan</a>
            <a href="/rolex2/eon_report">End of Night Report</a>
		        <a class="github" href="https://project.lsst.org" target="_blank" rel="noreferrer">
			        Rubin Observatory Log Explorer
		        </a>
        </nav>
      </navheader>
      <innerbody id="content">
            <!-- Inheriting pages will have their content rendered here, similar to app root in React, Angular, etc. -->
            {% block content %}{% endblock %}
      </innerbody>
    </body>
</html>

